
<header>
<div class="center jumbotron vertical-center">
	<div class="container">
  <h1 class="top-letter">あなたの旅には価値がある</h1><br>
	<%= link_to "新規登録", new_user_registration_path, class: "btn btn-lg btn-white btn-ghost" %>
	<%= link_to raw('<i class="fa fa-facebook fa-fw"></i>Facebookで登録'), user_facebook_omniauth_authorize_path, class: "btn btn-lg btn-white btn-ghost" %>
	</div>
</div>

</header>

<div class="container">
	<div class="row">
		<div class="col-lg-12 text-center">
		<h2>Travel Boxは、旅行先に行ったことがある人に質問できるサービスです。</h2><hr>
		</div>
	</div>
</div>

<br>

<div class="container">
	<div class="row">
		<div class="col-lg-4 text-center">
		<h3>ガイドを見つけて</h3> <br>
		<i class="fa fa-5x fa-book"></i>
		</div>

		<div class="col-lg-4 text-center">
		<h3>話しを聞いてみよう</h3> <br>
		<i class="fa fa-5x fa-handshake-o"></i>
		</div>

		<div class="col-lg-4 text-center">
		<h3>旅行の準備は万端</h3> <br>
		<i class="fa fa-5x fa-plane"></i>
		</div>

	</div>
</div>

<br>
<br>

<div class="container">
	<div class="row">
		<div class="col-lg-12 text-center">
		<h1>人気のガイド</h1><hr><br><br>
		</div>
	</div>
</div>


<div class="container">
	<% @guides.each_slice(3) do |guides| %>
	<div class="row">
	<% guides.first(6).each do |guide| %>
	<div class="col-md-4 portfolio-item">
       <%= image_tag(guide.image_url, class:"img-responsive") %>
		<h3> <%= link_to guide.title,guide,id:"guide_hover" %> </h3>
    	<p>	 <%= guide.content.truncate(60) %> </p>
    </div>
    <% end %>
   </div>
<% end %>
</div>


<div class="container">
	<div class="row">
		<div class="col-lg-12 text-center">
	</div>
</div>


