<%= form_for(guide) do |f| %>
  <% if guide.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(guide.errors.count, "error") %> prohibited this guide from being saved:</h2>

      <ul>
      <% guide.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="container">
  
  <div class="row">
    <div class="field">
      <div class="col-lg-4 col-lg-offset-3">
    <%= f.label :title %>
      <br>
    <%= f.text_field :title, :size => "60" %>
      </div>
    </div>
  </div>
<br>
  <div class="row">
    <div class="field">
        <div class="col-lg-4 col-lg-offset-3">
    <%= f.label :content %>
      <br>
    <%= f.text_area :content, :size => "60x10" %>
      </div>
    </div>
  </div>

<br>

  <div class="row">
    <div class="actions">
        <div class="col-lg-4 col-lg-offset-3">
    <%= f.submit %>
        </div>
    </div>
  </div>

</div>

<% end %>
