<p id="notice"><%= notice %></p>

<%# header %>
<div class="container">
<div class="row">
            <div class="col-lg-12">
                <h1 class="page-header pull-left">Guide
                </h1>
            </div>
        </div>
<%# header end%>

<%# main %>
<% @guides.each_slice(3) do |guides| %>
	<div class="row">
	<% guides.each do |guide| %>
	<div class="col-md-4 portfolio-item">
       <%= image_tag(guide.image_url, class:"img-responsive") %>
		<h3> <%= link_to guide.title,guide,id:"guide_hover" %> </h3>
    	<p>	 <%= guide.content.truncate(60) %> </p>
    </div>
    <% end %>
   </div>
<% end %>
</div>
<%# main end%>

<%= link_to 'New Guide', new_guide_path,id:"guide_hover" %>
