
<p id="notice"><%= notice %></p>


<div class="container">
<div class="row">
		<%# Guide content %>
            <div class="col-lg-9">
                <h1 class="page-header pull-left">
                <%= @guide.title %>
                </h1>
                <%= image_tag(@guide.image_url, class:"img-responsive") %>
                <br>
                <p><%= @guide.content %></p>
                <br>
                <div class="row">
                <ul class="list-inline banner-social-buttons">
                	<div class="col-lg-4 col-lg-offset-3">
                    <li>
                        <a href="https://twitter.com/?lang=ja" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                    </li>
                    </div>
                    <div class="col-lg-4">
                    <li>
                        <% if @guide.user.link.presence %>
                            <%= link_to raw('<i class="fa fa-facebook fa-fw"></i>話しを聞く'), @guide.user.get_link, class: "btn btn-default btn-lg " %>
                        <% end %>
                    </li>
                    </div>
                </ul>
                </div>
            </div>

        <%# guide content end %>
		
		<%# user profile %>
            <div class="col-lg-3 well">
            <%= image_tag(@guide.user.image, class:"img-circle img-responsive center-block") %>
            <h1><%= link_to @guide.user.name, '#', id:"guide_hover" %></h1>
            <h5><%= @guide.user.email %></h5>
            
           
        </div>
        <%# user profile end %>
</div>
<% if current_user.id == @guide.user.id %>
<%= link_to 'Edit', edit_guide_path(@guide),id:"guide_hover" %> 
<br>
<%= link_to 'Destroy', guide_path, method: :delete, data: { confirm: 'Are you sure?'}, id:"guide_hover" %>
<% end %>


<% if @guide.user.link.presence %>
    <h1><%= link_to 'facebook', @guide.user.get_link %></h1>
<% end %>


